<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block titre %}Kemistra{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/kemistramain/images/favicone.ico') }}" />
		<link href="{{ asset('bundles/kemistramain/css/bootstrap-combined.min.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/kemistramain/css/kitgraphique.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/kemistramain/css/style.css') }}" rel="stylesheet">
        {% block cssInclude %}{% endblock %}
        {% block jsInclude %}{% endblock %}
    </head>
    <body>
		<div id="conteneur">
			<div id="header"></div>
			<div id="brmenu">
				<ul id="menu">
					<li><a href="{{ path('homepage') }}">Accueil</a>
                        <ul>
                            {% if is_granted('ROLE_USER') %}
                                <li class="lien"><a href="{{ path('logout') }}">Déconnexion</a></li>
                            {% else %}
                                <li class="lien"><a href="{{ path('login') }}">Connexion</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('analyse') }}">Analyses</a>
                            <ul>
                                <li class="lien"><a href="{{ path('analyse') }}">Analyses effectuées</a></li>
                                <li class="lien"><a href="{{ path('analyse_new') }}">Enregistrer une analyse</a></li>
                                <li class="lien"><a href="{{ path('typeanalyse') }}">Analyses réaliseables</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="lien"><a href="{{ path('typeanalyse_new') }}">Ajouter un type d'analyse</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        
                        <li><a href="#">Stocks</a>
                            <ul>
                                
                                <li class="lien"><a href="{{ path('stockconsommable') }}">Consommables en stock</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="lien"><a href="{{ path('stockconsommable_new') }}">Ajouter un consommable</a></li>
                                {% endif %}
                                <li class="lien"><a href="{{ path('stockmateriel') }}">Matériels en stock</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="lien"><a href="{{ path('stockmateriel_new') }}">Ajouter un matériel</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('client') }}">Clients</a>
                            <ul>
                                <li class="lien2"><a href="{{ path('client') }}">Liste des clients</a></li>
                                <li class="lien2"><a href="{{ path('client_new') }}">Ajouter un client</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="{{ path('employe') }}">Employés</a>
                            <ul>
                                <li class="lien2"><a href="{{ path('employe') }}">Liste des employés</a></li>
                                <li class="lien2"><a href="{{ path('employe_new') }}">Ajouter un employé</a></li>
                            </ul>
                        </li>
                    {% else %}
                        {% if is_granted('ROLE_USER') %}
                            <li><a href="{{ path('employe_show', { 'id': app.user.id } ) }}">Mon compte</a></li>
                        {% endif %}
                    {% endif %}
				</ul>
			</div>
            
			<div class="contenu2">
				{% block body %}{% endblock %}
                
                <div class="panel">
                    <h1>Panneau de contrôle</h1>
                    <ul>
                        {% block panel %}<li><a href="#">Aucune action disponible depuis cette page</a>.</li>{% endblock %}
                    </ul>
                </div>
				<div class="texte"></div>
			</div>
			
			<div id="pied">
				<div class="copyright">&copy;<a href=""> Kemistra.com</a> | Design <a href="http://www.kitgraphiquegratuit.org" onclick="window.open(this.href); return false;" title="kits graphiques gratuits" > Kit graphique</a></div>
			</div>
  
		</div>
		{% block js %}{% endblock %}
    </body>
</html>
