{% extends '::base.html.twig' %}

{% block titre %}{{ typeConsommable.0.nom }} en stock{% endblock %}

{% block body -%}
    <h1>{{ typeConsommable.0.nom }} en stock</h1>
    
    <table class="table table-bordered tableau">
        <thead>
            <tr>
                <th>Numéro de lot</th>
                <th>Quantité en stock /<br />Quantité achetée</th>
                <th>Date de péremption</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Modifier la quantité</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% set somme = 0 %}
            {% for stock in typeConsommable %}
                <tr>
                    <td>{{ stock.numeroLot }}</td>
                    <td>{{ stock.quantiteRestante }} <span class="unite">{{ stock.unite }}</span><br /><span class="negligeable">/ {{ stock.quantiteAchetee }}</span></td>
                    <td>{{ stock.datePeremption|date('d/m/Y') }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td class="icone">
                            <a title="Éditer" href="{{ path('stockconsommable_edit', { 'id': stock.idStock }) }}"><img src="{{ asset('bundles/kemistramain/images/editer.png') }}" alt="Éditer"/></a> 
                        </td>
                    {% endif %}
                </tr>
                {% set somme = somme + stock.quantiteRestante %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Total :</th>
                <th>{{ somme }}</th>
                <th></th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th></th>
                {% endif %}
            </tr>
        </tfoot>
    </table>
{% endblock %}





{% block panel %}
    <li><a href="{{ path('stockconsommable') }}">Retour à la liste des consommables en stock</a>.</li>
{% endblock %}
