{% extends '::base.html.twig' %}

{% block titre %}{{ typeConsommable.0.nom }} en stock{% endblock %}

{% block body -%}
    <h1>{{ typeConsommable.0.nom }} en stock</h1>
    
    <table class="record_properties table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Numéro de lot</th>
                <th>Quantité en stock /<br />Quantité achetée</th>
                <th>Date de péremption</th>
                <th>Modifier la quantité</th>
            </tr>
        </thead>
        <tbody>
            {% set somme = 0 %}
            {% for stock in typeConsommable %}
                <tr>
                    <td>{{ stock.numeroLot }}</td>
                    <td>{{ stock.quantiteRestante }}<br /><span class="negligeable">/ {{ stock.quantiteAchetee }}</span></td>
                    <td>{{ stock.datePeremption|date('d/m/Y') }}</td>
                    <td class="icone">
                        <a title="Éditer" href="{{ path('stockconsommable_edit', { 'id': stock.idStock }) }}">
                            <img src="{{ asset('bundles/kemistramain/images/editer.png') }}" alt="Éditer"/>
                        </a> 
                    </td>
                </tr>
                {% set somme = somme + stock.quantiteRestante %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Total :</th>
                <th>{{ somme }}</th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
    
    
    <ul class="record_actions">
        <li><a href="{{ path('stockconsommable') }}">Retour à la liste du matériel en stock</a>.</li>
    </ul>
    
{% endblock %}
