{% extends '::form_base.html.twig' %}

{% block titre %}Ajout d'un nouveau type d'analyse{% endblock %}

{% block body -%}
    <h1>Ajout d'un nouveau type d'analyse</h1>
    
    <form action="{{ path('typeanalyse_create') }}" method="post" {{ form_enctype(formulaire) }}>
        {{ form_errors(formulaire) }}
        <fieldset>
            <legend>Informations de l'analyse</legend>
            {{ form_row(formulaire.nom) }}
            {{ form_row(formulaire.dureeEstimee) }}
            {{ form_row(formulaire.nombreEmployeNecessaire) }}
            {{ form_row(formulaire.description) }}
            {{ form_row(formulaire.fichier) }}
        </fieldset>
        
        <fieldset>
            <legend>Les résultats à obtenir</legend>
            {{ form_row(formulaire.typeResultats) }}
        </fieldset>
        
        <fieldset>
            <legend>Le matériel à utiliser</legend>
            {{ form_row(formulaire.utilise) }}
        </fieldset>
        
        <fieldset>
            <legend>Les consommables à obtenir</legend>
            {{ form_row(formulaire.typeConsommables) }}
        </fieldset>
        {{ form_rest(formulaire) }}
        <p><button class="btn" type="submit">Enregistrer</button></p>
    </form>
{% endblock %}





{% block panel %}
    <li><a href="{{ path('typeanalyse') }}">Annuler la création du type d'analyse</a>.</li>
{% endblock %}





{% block jsInclude %}{{ parent() }}
<script src="{{ asset('bundles/kemistramain/js/subFormManager.js') }}"></script>{% endblock %}





{% block js %}{{ parent() }}
<script type="text/javascript">
    $(document).ready(function()
    {
        manageSubForm($('div#kemistra_mainbundle_typeanalysetype_typeResultats'));
        manageSubForm($('div#kemistra_mainbundle_typeanalysetype_utilise'));
        manageSubForm($('div#kemistra_mainbundle_typeanalysetype_typeConsommables'));
    });
</script>
{% endblock %}
