{% extends '::form_base.html.twig' %}

{% block titre %}Ajout d'un nouveau matériel dans le stock{% endblock %}

{% block body -%}
    <h1>Ajout d'un nouveau matériel dans le stock</h1>
    
    <form action="{{ path('stockmateriel_create') }}" method="post" {{ form_enctype(formulaire) }}>
        {{ form_widget(formulaire) }}
        <p><button class="btn" type="submit">Ajouter</button></p>
    </form>
{% endblock %}





{% block panel %}
    <li><a href="{{ path('stockmaterielwithtypemateriel_new') }}">Ajouter un matériel non répertorié</a>.</li>
    <li><a href="{{ path('stockmateriel') }}">Annuler la création</a>.</li>
{% endblock %}





{% block js %}{{ parent() }}
<script type="text/javascript">
    $(document).ready(function()
    {
        // On rajoute un champ Autre dans la liste.
        $('select#kemistra_mainbundle_stockmaterieltype_typeMateriel')
            .change(function()
            {
                if ($('select#kemistra_mainbundle_stockmaterieltype_typeMateriel').val() == 0)
                {
                    // Si "Autres ..." est sélectionné...
                    $(location).attr('href', '{{ path('stockmaterielwithtypemateriel_new') }}');
                }
            })
            .append('<option value="0">Autre ...</option>');
    });
</script>
{% endblock %}
