{% extends 'form_div_layout.html.twig' %}



{% block date_widget %}
<input type="date" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endblock %}



{% block form_row %}
<div>
    {{ form_errors(form) }}
    <p>{{ form_label(form) }} : {{ form_widget(form) }}</p>
</div>
{% endblock %}
