{% extends '::form_base.html.twig' %}

{% block titre %}Édition des informations de {{ employe.prenom }} {{ employe.nom }} {% endblock %}

{% block body -%}
    <h1>Édition des informations de l'employé</h1>
	<h2>{{ employe.prenom }} {{ employe.nom }}</h2>
    
    <form action="{{ path('employe_update', { 'id': employe.id }) }}" method="post" {{ form_enctype(formulaire) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(formulaire) }}
        <p>
			<button class="btn" type="submit">Enregistrer</button>
		</p>
    </form>
{% endblock %}





{% block panel %}
    <li><a href="{{ path('employe_show', { 'id': employe.id }) }}">Annuler l'édition des informations de l'employé</a>.</li>
{% endblock %}
