{% extends '::form_base.html.twig' %}

{% block body -%}
    <h1>Analyse edit</h1>

    <form action="{{ path('analyse_update', { 'id': analyse.id }) }}" method="post" {{ form_enctype(formulaire) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(formulaire) }}
        <p>
            <button type="submit">Edit</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('analyse') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}



{% block jsInclude %}{{ parent() }}
<script src="{{ asset('bundles/kemistramain/js/subFormManager.js') }}"></script>{% endblock %}
