{% extends '::form_base.html.twig' %}

{% block titre %}Édition des informations de {{ client.nom }}{% endblock %}

{% block body -%}
    <h1>Édition des informations du client</h1>
	<h2>{{ client.nom }}</h2>
    
    <form action="{{ path('clientpro_update', { 'id': client.id }) }}" method="post" {{ form_enctype(formulaire) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(formulaire) }}
        <p>
            <button class="btn" type="submit">Enregister</button>
        </p>
    </form>
{% endblock %}





{% block panel %}
    <li><a href="{{ path('client_show', { 'id': client.id }) }}">Annuler l'édition des informations du client</a>.</li>
{% endblock %}
