{% extends '::form_base.html.twig' %}

{% block titre %}
	Édition des informations : {{ client.prenom }} {{ client.nom }} 
{% endblock %}

{% block body -%}
    <h1>	
		Édition des informations :
		<br/>
		{{ client.prenom }} {{ client.nom }} 
	</h1>

    <form action="{{ path('client_update', { 'id': client.id }) }}" method="post" {{ form_enctype(formulaire) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(formulaire) }}
        <p>
            <button type="submit">Enregister</button>
        </p>
    </form>

    <ul class="record_actions">
		<li>
			<a href="{{ path('client') }}">
				Annuler l'édition des informations du client
			</a>
		</li>
	</ul>
{% endblock %}
