{% extends '::base.html.twig' %}

{% block titre %}Liste des clients{% endblock %}

{% block body -%}
    <h1>Liste des clients particuliers</h1>

    <table class="table table-bordered tableau">
        <thead>
            <tr>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clientsParticuliers %}
            <tr>
                <td><a href="{{ path('client_show', { 'id': client.id }) }}">{{ client.nom }} {{ client.prenom }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    
    
    <h1>Liste des clients professionnels</h1>
    
    <table class="table table-bordered tableau">
        <thead>
            <tr>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clientsProfessionnels %}
            <tr>
                <td><a href="{{ path('client_show', { 'id': client.id }) }}">{{ client.nom }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}





{% block panel %}
    <li><a href="{{ path('client_new') }}">Ajouter un nouveau client</a>.</li>
{% endblock %}
