{% extends '::base.html.twig' %}

{% block titre %}{{ client.prenom }} {{ client.nom }}{% endblock %}

{% block body -%}
    {% if client.prenom is null %}
        <h1>{{ client.nom }} (client pro)</h1>
    {% else %}
        <h1>{{ client.prenom }} {{ client.nom }}</h1>
    {% endif %}
    
    <table class="record_properties table table-bordered table-striped table-condensed">
        <tbody>
            {% if client.prenom is not null %}
                <tr>
                    <th>Prénom</th>
                    <td>{{ client.prenom }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ client.adresse }}<br />{{ client.ville.codePostal }} {{ client.ville.nom }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ client.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
            </tr>
        </tbody>
    </table>
    
	<ul class="record_actions">
		<li>
			<a href="{{ path('client') }}">
				Retour à la liste des clients
			</a>
		</li>
		<li>
			<a href="{% if client.prenom is null %}{{ path('clientpro_edit', { 'id': client.id }) }}{% else %}{{ path('client_edit', { 'id': client.id }) }}{% endif %}">
				Éditer les informations de {{ client.prenom }} {{ client.nom }}
			</a>
		</li>
    </ul>
{% endblock %}
